## Load Data

In [18]:
import os
import sys
import pandas as pd
import logging
from google.cloud import bigquery
from hashlib import md5
from typing import List
import json

# **** SETUP ****

# change to match your filesystem
DATA_DIR = "./data/air_travel/"
DEFAULT_RECEIPTS_FILE = os.path.join(DATA_DIR, "tickets.json")
PROJECT_NAME = "deb-dev-dw"
DATASET_NAME = "air_travel"

data = []
with open('./data/air_travel/tickets.json', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame.from_dict(pd.json_normalize(data), orient='columns')

display(df.head(n=10))

,eticket_num,confirmation,ticket_date,price,seat,status,airline.name,airline.iata,airline.icao,airline.callsign,...,passenger.last_name,passenger.gender,passenger.birth_date,passenger.email,passenger.street,passenger.city,passenger.state,passenger.zip,origin,destination
0,498-938211-0795,ZVFDC4,2022-03-23,723.42,31I,active,China Eastern Airlines,MU,CES,CHINA EASTERN,...,Brown,M,1969-02-17,robert.brown.69@hotmail.com,5007 Thomas Way,Lake Hollystad,DC,20027,NaN,NaN
1,482-850738-6048,IL5GUI,2022-03-23,765.18,29B,active,Hawaiian Airlines,HA,HAL,HAWAIIAN,...,Kent,F,1998-08-05,laura.kent.98@hotmail.com,13991 Davis Village,North Catherineborough,PA,16516,NaN,NaN
2,275-207321-8092,CYEFBC,2022-03-21,753.89,26I,active,Wizz Air,W6,WZZ,WIZZ AIR,...,Tucker,F,1965-01-22,lisa.tucker.65@hotmail.com,04135 Marvin Via,North Kristabury,MA,01093,NaN,NaN
3,246-793315-3102,ZNGPC2,2022-03-22,793.89,15A,active,AirAsia,AK,AXM,ASIAN EXPRESS,...,Yates,NB,1975-03-31,matthew.yates.75@yahoo.com,76045 Samantha Road Suite 111,Lake Jeffrey,DE,19898,NaN,NaN
4,091-128904-1226,MGSBD9,2022-03-24,820.25,17F,active,Xiamen Airlines,MF,CXA,XIAMEN AIR,...,Villanueva,NB,1945-08-14,megan.villanueva.45@hotmail.com,848 Melissa Springs Suite 947,Kellerstad,TX,76177,NaN,NaN
5,115-196069-8963,XFYQC0,2022-03-23,892.69,18C,active,Air New Zealand,NZ,ANZ,NEW ZEALAND,...,Hall,NB,1944-08-31,sarah.hall.44@gmail.com,75420 Michael Mountains Suite 485,New Victoria,HI,96727,NaN,NaN
6,396-673460-1326,N5UOOZ,2022-03-23,889.53,3C,active,Jeju Air,7C,JJA,JEJU AIR,...,Thompson,M,1968-05-02,seth.thompson.68@yahoo.com,22455 Higgins Junction Apt. 042,New Keith,OR,97405,NaN,NaN
7,380-894599-8109,PAA19Y,2022-03-22,706.78,7D,active,American Airlines,AA,AAL,AMERICAN,...,Garcia,F,1950-02-12,jennifer.garcia.50@gmail.com,6607 Sharp Common,Chadstad,VA,22121,NaN,NaN
8,614-960971-2686,EF4BHJ,2022-03-23,486.40,24J,active,Juneyao Airlines,HO,DKH,JUNEYAO AIRLINES,...,Clark,F,1991-11-09,becky.clark.91@gmail.com,691 Jones Cliffs,Michaelburgh,TX,76003,NaN,NaN
9,481-321233-0702,FVM9EE,2022-03-23,855.93,16A,active,Royal Air Maroc,AT,RAM,ROYALAIR MAROC,...,Cook,M,1976-07-29,ronald.cook.76@hotmail.com,93328 Davis Island,Rodriguezside,MD,21408,NaN,NaN

In [19]:
# modify column name to work better with big query
df.columns = df.columns.str.replace(".", "_")
display(df.head(n=10))

/Users/drewwhite/Desktop/Epicodus/data_week_8/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,eticket_num,confirmation,ticket_date,price,seat,status,airline_name,airline_iata,airline_icao,airline_callsign,...,passenger_last_name,passenger_gender,passenger_birth_date,passenger_email,passenger_street,passenger_city,passenger_state,passenger_zip,origin,destination
0,498-938211-0795,ZVFDC4,2022-03-23,723.42,31I,active,China Eastern Airlines,MU,CES,CHINA EASTERN,...,Brown,M,1969-02-17,robert.brown.69@hotmail.com,5007 Thomas Way,Lake Hollystad,DC,20027,NaN,NaN
1,482-850738-6048,IL5GUI,2022-03-23,765.18,29B,active,Hawaiian Airlines,HA,HAL,HAWAIIAN,...,Kent,F,1998-08-05,laura.kent.98@hotmail.com,13991 Davis Village,North Catherineborough,PA,16516,NaN,NaN
2,275-207321-8092,CYEFBC,2022-03-21,753.89,26I,active,Wizz Air,W6,WZZ,WIZZ AIR,...,Tucker,F,1965-01-22,lisa.tucker.65@hotmail.com,04135 Marvin Via,North Kristabury,MA,01093,NaN,NaN
3,246-793315-3102,ZNGPC2,2022-03-22,793.89,15A,active,AirAsia,AK,AXM,ASIAN EXPRESS,...,Yates,NB,1975-03-31,matthew.yates.75@yahoo.com,76045 Samantha Road Suite 111,Lake Jeffrey,DE,19898,NaN,NaN
4,091-128904-1226,MGSBD9,2022-03-24,820.25,17F,active,Xiamen Airlines,MF,CXA,XIAMEN AIR,...,Villanueva,NB,1945-08-14,megan.villanueva.45@hotmail.com,848 Melissa Springs Suite 947,Kellerstad,TX,76177,NaN,NaN
5,115-196069-8963,XFYQC0,2022-03-23,892.69,18C,active,Air New Zealand,NZ,ANZ,NEW ZEALAND,...,Hall,NB,1944-08-31,sarah.hall.44@gmail.com,75420 Michael Mountains Suite 485,New Victoria,HI,96727,NaN,NaN
6,396-673460-1326,N5UOOZ,2022-03-23,889.53,3C,active,Jeju Air,7C,JJA,JEJU AIR,...,Thompson,M,1968-05-02,seth.thompson.68@yahoo.com,22455 Higgins Junction Apt. 042,New Keith,OR,97405,NaN,NaN
7,380-894599-8109,PAA19Y,2022-03-22,706.78,7D,active,American Airlines,AA,AAL,AMERICAN,...,Garcia,F,1950-02-12,jennifer.garcia.50@gmail.com,6607 Sharp Common,Chadstad,VA,22121,NaN,NaN
8,614-960971-2686,EF4BHJ,2022-03-23,486.40,24J,active,Juneyao Airlines,HO,DKH,JUNEYAO AIRLINES,...,Clark,F,1991-11-09,becky.clark.91@gmail.com,691 Jones Cliffs,Michaelburgh,TX,76003,NaN,NaN
9,481-321233-0702,FVM9EE,2022-03-23,855.93,16A,active,Royal Air Maroc,AT,RAM,ROYALAIR MAROC,...,Cook,M,1976-07-29,ronald.cook.76@hotmail.com,93328 Davis Island,Rodriguezside,MD,21408,NaN,NaN

## Define table schema for dimension tables

In [20]:
# setting table schema for dims tables

DIMS_TABLE_METADATA = {  
  # for airlines
      'airlines': {
        'table_name': 'airlines',
        'schema': [
            bigquery.SchemaField('airline_iata', 'STRING', mode='REQUIRED'),
            bigquery.SchemaField('airline_name', 'STRING', mode='REQUIRED'),
            bigquery.SchemaField('airline_icao', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('airline_callsign', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('airline_country', 'STRING', mode='NULLABLE'),
        ],
    },
    # for airports
      'airports': {
        'table_name': 'airports',
        'schema': [
            bigquery.SchemaField('airport_iata', 'STRING', mode='REQUIRED'),
            bigquery.SchemaField('airport_name', 'STRING', mode='REQUIRED'),
            bigquery.SchemaField('airport_city', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('airport_icao', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('airport_latitude', 'FLOAT', mode='NULLABLE'),
            bigquery.SchemaField('airport_longitude', 'FLOAT', mode='NULLABLE'),
            bigquery.SchemaField('airport_altitude', 'FLOAT', mode='NULLABLE'),
            bigquery.SchemaField('airport_tz_timezone', 'FLOAT', mode='NULLABLE'),
        ],
    },
    # for passengers
      'passengers': {
        'table_name': 'passengers',
        'schema': [
            bigquery.SchemaField('passenger_id', 'STRING', mode='REQUIRED'),
            bigquery.SchemaField('passenger_email', 'STRING', mode='REQUIRED'),
            bigquery.SchemaField('passenger_first_name', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('passenger_last_name', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('passenger_birth_date', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('passenger_street', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('passenger_city', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('passenger_state', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('passenger_zip', 'INTEGER', mode='NULLABLE'),
            bigquery.SchemaField('effective_start_date', 'STRING', mode='NULLABLE'),
            bigquery.SchemaField('effective_end_date', 'STRING', mode='NULLABLE'),
        ],
    },
}

# **** SETUP LOGGING ****
# setup logging and logger
logging.basicConfig(            # setting up the root logger
    format='[%(levelname)-5s][%(asctime)s][%(module)s:%(lineno)04d] : %(message)s',
    level=logging.INFO,
    stream=sys.stdout
)
logger: logging.Logger = logging.getLogger('root')      # alias the root logger as `logger`
logger.setLevel(logging.DEBUG)                          # programmatically reassign the logging level


# **** BIGQUERY CLIENT ****
logger.debug(f"Creating bigquery client")
client = bigquery.Client()

logger.info(f"Setup Completed")

[DEBUG][2023-01-06 12:17:45,557][2447715880:0060] : Creating bigquery client
[INFO ][2023-01-06 12:17:45,561][2447715880:0063] : Setup Completed

## Create dataset in bigquery

In [21]:

dataset_id = f"{PROJECT_NAME}.{DATASET_NAME}"
dataset = bigquery.Dataset(dataset_id)
dataset.location = "US"
dataset = client.create_dataset(dataset, exists_ok=True)
# tells me that dataset was created with name
logger.info(f"Created air_travel dataset: {dataset.full_dataset_id}")

[INFO ][2023-01-06 12:17:51,714][1320071499:0006] : Created air_travel dataset: deb-dev-dw:air_travel

In [22]:
# **** CREATE TABLES ****
logger.debug(f"Creating tables:")

for table_id in DIMS_TABLE_METADATA:
  full_table_id = f"{PROJECT_NAME}.{DATASET_NAME}.{table_id}"
  schema = DIMS_TABLE_METADATA[f'{table_id}']['schema']
  table = bigquery.Table(full_table_id, schema = schema)
  client.create_table(table)
  logger.info(f"Created table: {full_table_id}")
  # List table Schema
  table_ref = client.get_table(table)
  for column in table_ref.schema:
    print(f"\t{column.name}\t{column.field_type}") 
  print("\n")

[DEBUG][2023-01-06 12:17:55,601][3118785056:0002] : Creating tables:
[INFO ][2023-01-06 12:17:55,939][3118785056:0009] : Created table: deb-dev-dw.air_travel.airlines
	airline_iata	STRING
	airline_name	STRING
	airline_icao	STRING
	airline_callsign	STRING
	airline_country	STRING


[INFO ][2023-01-06 12:17:56,525][3118785056:0009] : Created table: deb-dev-dw.air_travel.airports
	airport_iata	STRING
	airport_name	STRING
	airport_city	STRING
	airport_icao	STRING
	airport_latitude	FLOAT
	airport_longitude	FLOAT
	airport_altitude	FLOAT
	airport_tz_timezone	FLOAT


[INFO ][2023-01-06 12:17:57,034][3118785056:0009] : Created table: deb-dev-dw.air_travel.passengers
	passenger_id	STRING
	passenger_email	STRING
	passenger_first_name	STRING
	passenger_last_name	STRING
	passenger_birth_date	STRING
	passenger_street	STRING
	passenger_city	STRING
	passenger_state	STRING
	passenger_zip	INTEGER
	effective_start_date	STRING
	effective_end_date	STRING

## Load original data frame into separate data frames to make manipulations for dimensions

In [23]:
# airlines dimension table
airlines_df = df
# columns to keep for dimension
airline_expected_cols = ['airline_iata', 'airline_name', 'airline_icao', 'airline_callsign', 'airline_country']
# groupby above columns
airlines_df = airlines_df.groupby(airline_expected_cols).all()
airlines_df = airlines_df.reset_index().loc[:, airline_expected_cols]

logger.info(f"airlines - found {len(airlines_df.index)} rows")

display(airlines_df)

[INFO ][2023-01-06 12:18:08,962][1400822048:0009] : airlines - found 48 rows

,airline_iata,airline_name,airline_icao,airline_callsign,airline_country
0,3U,Sichuan Airlines,CSC,SI CHUAN,China
1,7C,Jeju Air,JJA,JEJU AIR,Republic of Korea
2,9K,Cape Air,KAP,CAIR,United States
3,9S,Spring Airlines,CQH,AIR SPRING,China
4,AA,American Airlines,AAL,AMERICAN,United States
5,AC,Air Canada,ACA,AIR CANADA,Canada
6,AF,Air France,AFR,AIRFRANS,France
7,AK,AirAsia,AXM,ASIAN EXPRESS,Malaysia
8,AS,Alaska Airlines,ASA,Inc.,ALASKA
9,AT,Royal Air Maroc,RAM,ROYALAIR MAROC,Morocco
10,B6,JetBlue Airways,JBU,JETBLUE,United States
11,BA,British Airways,BAW,SPEEDBIRD,United Kingdom
12,BC,Skymark Airlines,SKY,SKYMARK,Japan
13,CA,Air China,CCA,AIR CHINA,China
14,CZ,China Southern Airlines,CSN,CHINA SOUTHERN,China
15,DD,Nok Air,NOK,NOK AIR,Thailand
16,DL,Delta Air Lines,DAL,DELTA,United States
17,ET,Ethiopian Airlines,ETH,ETHIOPIAN,Ethiopia
18,F9,Frontier Airlines,FFT,FRONTIER FLIGHT,United States
19,FD,Thai AirAsia,AIQ,THAI ASIA,Thailand
20,FM,Shanghai Airlines,CSH,SHANGHAI AIR,China
21,G4,Allegiant Air,AAY,ALLEGIANT,United States
22,HA,Hawaiian Airlines,HAL,HAWAIIAN,United States
23,HO,Juneyao Airlines,DKH,JUNEYAO AIRLINES,China
24,HR,China United Airlines,CUA,LIANHANG,China
25,HU,Hainan Airlines,CHH,HAINAN,China
26,IW,Wings Air,WON,WINGS ABADI,Indonesia
27,MF,Xiamen Airlines,CXA,XIAMEN AIR,China
28,MH,Malaysia Airlines,MAS,MALAYSIAN,Malaysia
29,MU,China Eastern Airlines,CES,CHINA EASTERN,China
30,MW,Maya Island Air,MYD,MYLAND,Belize
31,NK,Spirit Airlines,NKS,SPIRIT WINGS,United States
32,NZ,Air New Zealand,ANZ,NEW ZEALAND,New Zealand
33,PM,Tropic Air,TOS,TROPISER,Belize
34,PR,Philippine Airlines,PAL,PHILIPPINE,Philippines
35,QR,Qatar Airways,QTR,QATARI,Qatar
36,QZ,Indonesia AirAsia,AWQ,WAGON AIR,Indonesia
37,S7,S7 Airlines,SBI,SIBERIAN AIRLINES,Russia
38,SC,Shandong Airlines,CDG,SHANDONG,China
39,SJ,Sriwijaya Air,SJY,SRIWIJAYA,Indonesia
40,TK,Turkish Airlines,THY,TURKAIR,Turkey
41,U6,Ural Airlines,SVR,SVERDLOVSK AIR,Russia
42,UA,United Airlines,UAL,UNITED,United States
43,VN,Vietnam Airlines,HVN,VIET NAM AIRLINES,Vietnam
44,W6,Wizz Air,WZZ,WIZZ AIR,Hungary
45,WN,Southwest Airlines,SWA,SOUTHWEST,United States
46,WY,Oman Air,OMA,OMAN AIR,Oman
47,ZH,Shenzhen Airlines,CSZ,SHENZHEN AIR,China

In [26]:
# airports dimension table

origin_df = df
dest_df = df

airport_expected_cols = ['name', 'city','country', 'iata', 'icao','latitude','longitude','altitude', 'tz_timezone']

origin_col = ['origin_' + col for col in airport_expected_cols]
dest_col = ['destination_' + col for col in airport_expected_cols]
airport_col = ['airport_' + col for col in airport_expected_cols]

# group unique origin airports
origin_df = origin_df.groupby(origin_col).all()
origin_df = origin_df.reset_index().loc[:, origin_col]

# rename columns

origin_df = origin_df.rename(columns={
    'origin_name': 'airport_name', 
    'origin_city':'airport_city', 
    'origin_country':'airport_country',
    'origin_iata':'airport_iata',
    'origin_icao':'airport_icao',
    'origin_latitude':'airport_latitude',
    'origin_longitude':'airport_longitude',
    'origin_altitude':'airport_altitude',
    'origin_tz_timezone':'airport_tz_timezone',
    })

# group unique destination airports
dest_df = dest_df.groupby(dest_col).all()
dest_df = dest_df.reset_index().loc[:, dest_col]

# rename columns

dest_df = dest_df.rename(columns={
    'destination_name': 'airport_name', 
    'destination_city':'airport_city', 
    'destination_country':'airport_country',
    'destination_iata':'airport_iata',
    'destination_icao':'airport_icao',
    'destination_latitude':'airport_latitude',
    'destination_longitude':'airport_longitude',
    'destination_altitude':'airport_altitude',
    'destination_tz_timezone':'airport_tz_timezone',
    })

# combine origin and destination
concat_df = [origin_df, dest_df]

airports_df = pd.concat(concat_df)

# group unique combined airports data

airports_df = airports_df.groupby(airport_col).all()
airports_df = airports_df.reset_index().loc[:, airport_col]

logger.info(f"airports - found {len(airports_df.index)} rows")

display(airports_df)

[INFO ][2023-01-06 12:41:37,998][4159366420:0058] : airports - found 386 rows

,airport_name,airport_city,airport_country,airport_iata,airport_icao,airport_latitude,airport_longitude,airport_altitude,airport_tz_timezone
0,Abu Dhabi International Airport,Abu Dhabi,United Arab Emirates,AUH,OMAA,24.43,54.65,88.0,Asia/Dubai
1,Adolfo Suárez Madrid–Barajas Airport,Madrid,Spain,MAD,LEMD,40.47,-3.56,1998.0,Europe/Madrid
2,Afonso Pena Airport,Curitiba,Brazil,CWB,SBCT,-25.53,-49.18,2988.0,America/Sao_Paulo
3,Alberto Alcolumbre Airport,Macapa,Brazil,MCP,SBMQ,0.05,-51.07,56.0,America/Fortaleza
4,Albuquerque International Sunport,Albuquerque,United States,ABQ,KABQ,35.04,-106.61,5355.0,America/Denver
...,...,...,...,...,...,...,...,...,...
381,Zhuhai Jinwan Airport,Zhuhai,China,ZUH,ZGSD,22.01,113.38,23.0,Asia/Shanghai
382,Zumbi dos Palmares Airport,Maceio,Brazil,MCZ,SBMO,-9.51,-35.79,387.0,America/Fortaleza
383,Zürich Airport,Zurich,Switzerland,ZRH,LSZH,47.46,8.55,1416.0,Europe/Zurich
384,Ástor Piazzola International Airport,Mar Del Plata,Argentina,MDQ,SAZM,-37.93,-57.57,72.0,America/Buenos_Aires
385,Ürümqi Diwopu International Airport,Urumqi,China,URC,ZWWW,43.91,87.47,2125.0,Asia/Shanghai

In [28]:
import uuid

pass_df = df

pass_expected_cols = ['email','first_name','last_name', 'birth_date', 'street','city','state','zip']
pass_col = ['passenger_' + col for col in pass_expected_cols]

# group unique passengers
pass_df = pass_df.groupby(pass_col).all()
pass_df = pass_df.reset_index().loc[:, pass_col]

# rename columns

pass_df = pass_df.rename(columns={
    'passenger_email': 'passenger_email', 
    'passenger_first_name':'passenger_first_name', 
    'passenger_last_name':'passenger_last_name',
    'passenger_birth_date':'passenger_birth_date',
    'passenger_street':'passenger_street',
    'passenger_city':'passenger_city',
    'passenger_state':'passenger_state',
    'passenger_zip':'passenger_zip',
    })

# generate uuid for passenger id
pass_df.insert(0, 'passenger_id', uuid.uuid4())

# add start and end dates
pass_df['effective_start_date'] = "2006-06-06"
pass_df['effective_end_date'] = None

display(pass_df)

,passenger_id,passenger_email,passenger_first_name,passenger_last_name,passenger_birth_date,passenger_street,passenger_city,passenger_state,passenger_zip,effective_start_date,effective_end_date
0,277db099-ef2d-4511-a124-10d954f14cfd,annette.hawkins.43@yahoo.com,Annette,Hawkins,1943-07-11,361 Robinson Green Apt. 635,North Lynntown,NV,89825,2006-06-06,None
1,277db099-ef2d-4511-a124-10d954f14cfd,autumn.morse.60@hotmail.com,Autumn,Morse,1960-01-18,6984 Price Shoals,Erictown,HI,96818,2006-06-06,None
2,277db099-ef2d-4511-a124-10d954f14cfd,becky.clark.91@gmail.com,Becky,Clark,1991-11-09,691 Jones Cliffs,Michaelburgh,TX,76003,2006-06-06,None
3,277db099-ef2d-4511-a124-10d954f14cfd,belinda.cook.91@hotmail.com,Belinda,Cook,1991-01-26,1965 Kelly Field Apt. 094,Jonesberg,IL,60613,2006-06-06,None
4,277db099-ef2d-4511-a124-10d954f14cfd,carl.wilson.80@hotmail.com,Carl,Wilson,1980-04-24,2814 Houston Hills,Rodriguezside,IA,51971,2006-06-06,None
5,277db099-ef2d-4511-a124-10d954f14cfd,cheryl.hughes.45@gmail.com,Cheryl,Hughes,1945-05-20,00992 Garcia Plaza Suite 367,North Chelseamouth,CT,06315,2006-06-06,None
6,277db099-ef2d-4511-a124-10d954f14cfd,christian.stevenson.93@hotmail.com,Christian,Stevenson,1993-06-14,75945 Jennifer Loaf,Pooleland,KY,40009,2006-06-06,None
7,277db099-ef2d-4511-a124-10d954f14cfd,corey.cook.83@gmail.com,Corey,Cook,1983-06-14,9606 Barton Station Apt. 271,Jacquelinemouth,IN,47081,2006-06-06,None
8,277db099-ef2d-4511-a124-10d954f14cfd,danielle.henderson.70@hotmail.com,Danielle,Henderson,1970-08-11,7389 Alec Squares Suite 508,Port Jonathan,NM,87320,2006-06-06,None
9,277db099-ef2d-4511-a124-10d954f14cfd,hannah.smith.66@gmail.com,Hannah,Smith,1966-07-01,230 Donna Street,Lake Adrianstad,MN,56413,2006-06-06,None
10,277db099-ef2d-4511-a124-10d954f14cfd,janice.zamora.00@gmail.com,Janice,Zamora,2000-06-14,4759 William Haven Apt. 194,West Corey,KS,66153,2006-06-06,None
11,277db099-ef2d-4511-a124-10d954f14cfd,jennifer.garcia.50@gmail.com,Jennifer,Garcia,1950-02-12,6607 Sharp Common,Chadstad,VA,22121,2006-06-06,None
12,277db099-ef2d-4511-a124-10d954f14cfd,julie.carlson.77@hotmail.com,Julie,Carlson,1977-04-05,5792 Tammy Centers,Port Fernando,MO,65169,2006-06-06,None
13,277db099-ef2d-4511-a124-10d954f14cfd,kevin.moore.79@gmail.com,Kevin,Moore,1979-04-11,8332 Watson Shore,Port Davidtown,DC,20026,2006-06-06,None
14,277db099-ef2d-4511-a124-10d954f14cfd,laura.kent.98@hotmail.com,Laura,Kent,1998-08-05,13991 Davis Village,North Catherineborough,PA,16516,2006-06-06,None
15,277db099-ef2d-4511-a124-10d954f14cfd,laurie.york.84@gmail.com,Laurie,York,1984-04-28,248 Cook Park,Sherriport,TN,37845,2006-06-06,None
16,277db099-ef2d-4511-a124-10d954f14cfd,lisa.tucker.65@hotmail.com,Lisa,Tucker,1965-01-22,04135 Marvin Via,North Kristabury,MA,01093,2006-06-06,None
17,277db099-ef2d-4511-a124-10d954f14cfd,matthew.yates.75@yahoo.com,Matthew,Yates,1975-03-31,76045 Samantha Road Suite 111,Lake Jeffrey,DE,19898,2006-06-06,None
18,277db099-ef2d-4511-a124-10d954f14cfd,megan.villanueva.45@hotmail.com,Megan,Villanueva,1945-08-14,848 Melissa Springs Suite 947,Kellerstad,TX,76177,2006-06-06,None
19,277db099-ef2d-4511-a124-10d954f14cfd,nicholas.phillips.00@hotmail.com,Nicholas,Phillips,2000-04-23,80132 Kevin Trace,Riveraburgh,NJ,08640,2006-06-06,None
20,277db099-ef2d-4511-a124-10d954f14cfd,paul.baird.91@hotmail.com,Paul,Baird,1991-10-21,19344 Craig Walk,Burtontown,NC,27568,2006-06-06,None
21,277db099-ef2d-4511-a124-10d954f14cfd,rachel.duffy.60@hotmail.com,Rachel,Duffy,1960-05-14,18868 Dougherty Drive,Snowchester,OK,73022,2006-06-06,None
22,277db099-ef2d-4511-a124-10d954f14cfd,rebecca.wilson.73@yahoo.com,Rebecca,Wilson,1973-10-24,24000 Erin Point Suite 590,Josephmouth,DC,20028,2006-06-06,None
23,277db099-ef2d-4511-a124-10d954f14cfd,robert.brown.69@hotmail.com,Robert,Brown,1969-02-17,5007 Thomas Way,Lake Hollystad,DC,20027,2006-06-06,None
24,277db099-ef2d-4511-a124-10d954f14cfd,ronald.cook.76@hotmail.com,Ronald,Cook,1976-07-29,93328 Davis Island,Rodriguezside,MD,21408,2006-06-06,None
25,277db099-ef2d-4511-a124-10d954f14cfd,sarah.hall.44@gmail.com,Sarah,Hall,1944-08-31,75420 Michael Mountains Suite 485,New Victoria,HI,96727,2006-06-06,None
26,277db099-ef2d-4511-a124-10d954f14cfd,sarah.rivera.04@hotmail.com,Sarah,Rivera,2004-02-26,5938 Ramos Pike Suite 080,Lake Marytown,CT,06314,2006-06-06,None
27,277db099-ef2d-4511-a124-10d954f14cfd,sean.murray.53@yahoo.com,Sean,Murray,1953-02-11,809 Erika Valley Apt. 634,Petersenfort,NY,13184,2006-06-06,None
28,277db099-ef2d-4511-a124-10d954f14cfd,seth.thompson.68@yahoo.com,Seth,Thompson,1968-05-02,22455 Higgins Junction Apt. 042,New Keith,OR,97405,2006-06-06,None
29,277db099-ef2d-4511-a124-10d954f14cfd,shannon.rhodes.78@gmail.com,Shannon,Rhodes,1978-10-09,3039 Daniel Mount Suite 582,New Tonyaberg,NM,88155,2006-06-06,None
30,277db099-ef2d-4511-a124-10d954f14cfd,timothy.santos.86@hotmail.com,Timothy,Santos,1986-01-07,64183 Kimberly Mills Suite 375,North Rachelton,VT,05249,2006-06-06,None
31,277db099-ef2d-4511-a124-10d954f14cfd,tony.hoffman.03@gmail.com,Tony,Hoffman,2003-03-18,4706 Amy Roads Apt. 206,Stewartborough,AZ,85030,2006-06-06,None